# Environments
.env
DEPLOYMENT_GUIDE.md

# Docker attached data volumes (Never commit database/cache data!)
postgres/data/
redis/data/
prometheus/data/
grafana/data/
caddy/data/
caddy/config/

# Backups
scripts/backups/
*.sql.gz
*.tar.gz

# Logs
*.log
