:80 {
    # Add this line to see what's happening
    log {
        output stdout
    }

    basicauth / {
        {$CADDY_BASIC_AUTH_USER} {$CADDY_BASIC_AUTH_HASH}
    }

    reverse_proxy grafana:3000
}
